h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Inter", sans-serif;
}

:root {
	--light-color: #f5f5f7;
	--dark-color: #221f20;
	--container-pading-inline: 13%;
	--footer-pading-inline: 10%;
}

.container {
	padding: 0 var(--container-pading-inline);
}

.promo {
	position: relative;
	min-height: 100vh;
	background: url('../img/main_bg.jpg') center center / cover no-repeat;
	padding-top: 75px;
	@media screen and (max-width: 768px) {
		& {
			background-image: url('../img/tablet_bg.jpg');
	
		}
	}
	
	@media screen and (max-width: 576px) {
		min-height: 500px;
		padding-top: 50px;
	}
}

.promo__title {
	font-weight: 400;
	font-size: 60px;
	text-transform: uppercase;
	color: var(--light-color);
	line-height: normal;
	@media screen and (max-width: 768px) {
		font-style: 48px;
	}
	
	@media screen and (max-width: 576px) {
		font-size: 26px;
	}
}

.promo__subtitle {
	font-size: 32px;
	color: var(--light-color);
	font-weight: 100;
	margin-top: 80px;
	line-height: normal;
	width: 440px;
	@media screen and (max-width: 768px) {
		& {
			margin-top: 80px;
		}
	}
	
	@media screen and (max-width: 576px) {
		margin-top: 30px;
		font-size: 16px;
		width: 100%;
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 180px;
	text-decoration: none;
	text-align: center;
	padding: 4px 10px;
	margin-top: 20px;
	min-height: 38px;
	font-size: 16px;
	color: var(--light-color);
	font-weight: 100;
	border: 1px solid var(--light-color);
	background: rgba(217, 217, 217, 0);
	cursor: pointer;
	transition: all 0.3s ease-out;
	@media screen and (max-width: 576px) {
		font-size: 14px;
		width: 120px;
		min-height: 30px;
	}
}

.btn:hover {
	font-weight: 500;
	box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
}

.promo__adress {
	margin-top: 100px;
	font-size: 16px;
	color: var(--light-color);
	font-weight: 100;
	line-height: normal;
	address {
		font-style: normal;
	}
	a {
		color: inherit;
		text-decoration: none;
	}
	@media screen and (max-width: 768px) {
		& {
			margin-top: 80px;
		}
	}
	
	@media screen and (max-width: 576px) {
		display: none;
	}
}

/* .keywords {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 360px;
	width: 100%;
	height: 20px;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.04) 0%,
		rgba(255, 255, 255, 0.12) 50%, 
		rgba(255, 255, 255, 0.2) 100%);
	li {
		list-style-type: none;
		color: var(--light-color);
		font-weight: 100;
		font-size: 10px;
	}
	
} */

.about {
	background-color: var(--light-color);
	padding-top: 80px;
	@media screen and (max-width: 576px) {
			padding-top: 50px;
		}
}

.about__title {
	font-weight: 400;
	font-size: 12px;
	color: var(--dark-color);
	font-style: italic;
}

.about__text {
	width: 1100px;
	margin-top: 20px;
	font-size: 40px;
	color: var(--dark-color);
	font-weight: 400;
	line-height: normal;
	span {
		color: #a5a5a5;
	}
	@media screen and (max-width: 1440px) {
			width: 100%;
	}
	
	@media screen and (max-width: 768px) {
			font-size: 24px;
	}
	
	@media screen and (max-width: 576px) {
			font-size: 16px;
	}
}

.services {
	display: flex;
	margin-top: 80px;
	column-gap: 10px;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		margin-top: 40px;
	}
}


.services__items {
	width: 50%;
	ul {
		margin-top: 20px;
		padding: 0;
	}
	li {
		list-style-type: none;
		font-size: 16px;
		color: var(--dark-color);
		font-weight: 400;
		line-height: normal;
		margin-top: 10px;
	}
	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.services__title__items {
	font-weight: 400;
	font-size: 16px;
	color: var(--dark-color);
	font-style: italic;
}

.services__text {
	width: 50%;
	font-size: 20px;
	letter-spacing: 0.02em;
	color: var(--dark-color);
	font-weight: 400;
	line-height: normal;
	@media screen and (max-width: 768px) {
		width: 100%;
		margin-top: 20px;
	}
}

.catalog {
	background-color: var(--light-color);
	padding: 80px 20px 20px 20px;
	@media screen and (max-width: 568px) {
		padding: 40px 0 20px 0;
	}
}

.catalog__title {
	text-align: left;
	padding-left: 20px;
	font-weight: 500;
	font-size: 28px;
}

.catalog__wrapper {
	margin-top: 20px;
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: 30px;
	row-gap: 30px;
	@media screen and (max-width: 568px) {
		grid-template-columns: 1fr;
	}
}

.item__subtitle {
	text-align: center;
	grid-column: 2/5;
}

.catalog__item__img {
	width: 50px;
	margin: 0 auto;
	grid-column: 1/2;
}

.catalog__item {
	height: 200px;
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	border: 1px solid var(--light-color);
	box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
	align-items: center;
}

.goods {
	padding: 80px;
	background-color: var(--dark-color);
	@media screen and (max-width: 768px) {
			padding: 40px 0;
		}
}

.goods__title {
	color: var(--light-color);
	font-size: 28px;
	text-align: left;
	padding-left: 20px;
	font-weight: 500;
}

.goods__grid {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	column-gap: 30px;
	row-gap: 30px;
	margin-top: 30px;
	@media screen and (max-width: 568px) {
		grid-template-columns: 1fr; 
	}
}

.goods__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 7px 7px 12px 0 rgba(209, 209, 209, 0.25);
	border: 1px solid var(--light-color);
	padding: 20px 0;
	
}

.goods__item__text {
	font-weight: 300;
	color: var(--light-color);
	margin-top: 10px;
}

.wrapper__item {
	width: 80%;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.stages {
	padding: 80px;
	background-color: var(--dark-color);
	@media screen and (max-width: 768px) {
		padding: 40px 0;
	}
}

.title {
	color: var(--light-color);
	font-size: 28px;
	text-align: left;
	padding-left: 20px;
	font-weight: 500;
	@media screen and (max-width: 576px) {
		font-size: 26px;
	}
}

.stages__text {
	font-size: 22px;
	color: var(--light-color);
	font-weight: 100;
	margin-top: 40px;
	line-height: normal;
	@media screen and (max-width: 576px) {
		font-size: 18px;
	}
	
}

.stages__grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: repeat(2, 1fr);
	margin-top: 40px;
	gap: 20px;
	@media screen and (max-width: 568px) {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}
}

.stages__grid__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 4px 4px 12px 0 rgba(209, 209, 209, 0.25);
	border: 1px solid var(--light-color);
	padding: 10px;
}

.stages__item__img {
	width: 80px;
}

.stages__item__subtitle {
	font-size: 18px;
	color: var(--light-color);
	font-weight: 300;
	margin-top: 10px;
	line-height: normal;
	@media screen and (max-width: 576px) {
		font-size: 16px;
	}
}

.stages__item__text {
	font-size: 16px;
	color: var(--light-color);
	font-weight: 100;
	margin-top: 10px;
	line-height: normal;
}

#clearBtn {
	background: red;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.coments {
	padding: 40px 0;
	background-color: var(--dark-color);
}

.name__client {
	display: block;
	margin-bottom: 10px;
}

#posts {
	div {
		margin-top: 20px;
		box-shadow: 4px 4px 12px 0 rgba(209, 209, 209, 0.25);
		border: 1px solid var(--light-color);
		text-align: left;
		padding: 10px 10px 10px 30px;
		color: var(--light-color);
		p {
			margin-bottom: 10px;
		}
		
	}

	.comment__client {
		width: 100%;
		text-align: center;
		border: none;
		word-wrap: break-word;
		overflow-wrap: break-word;
	}
}

#form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
	flex-wrap: wrap;
	input {
		width: 300px;
		height: 52px;
		border-radius: 5px;
		font-size: 14px;
		color: rgb(75, 75, 75);
		border: none;
		padding: 0 20px;
		@media  screen and (max-width: 1024px) {
			width: 250px;
			margin-bottom: 10px;
		}
	}

	textarea {
		width: 300px;
		height: 52px;
		border-radius: 5px;
		font-size: 14px;
		color: rgb(75, 75, 75);
		border: none;
		padding: 18px 20px;
		text-align: left;
		@media screen and (max-width: 1024px) {
				width: 250px;
				margin-bottom: 10px;
			}
	}
	@media screen and (max-width: 576px) {
		width: 100%;
		margin-bottom: 10px;
		flex-direction: column;
	}
	

	.btn {
		margin-top: 0;
	}
}
iframe {
	width: 100%;
	height: 600px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	padding: 88px var(--footer-pading-inline);
	color: var(--light-color);
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
	@media screen and (max-width: 1024px) {
		font-size: 18px;
	}
	@media screen and (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}

.footer__addr {
	font-style: normal;
	@media screen and (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.social__media {
	padding-left: 0;
	display: flex;
	column-gap: 30px;
	list-style: none;
	@media screen and (max-width: 1024px) {
		column-gap: 15px;
	}
	@media screen and (max-width: 768px) {
		margin-bottom: 20px;
	}
}

.social__media__item {
	border: 1px solid var(--light-color);
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(217, 217, 217, 0);

	img {
		width: 22px;
		height: 22px;
	}

	@media screen and (max-width: 1024px) {
		width: 28px;
		height: 28px;
		& img {
			width: 20px;
			height: 20px;
		}
	}
}

.footer__tel {
	color: var(--light-color);
	text-decoration: none;
}